ho.xyz
mdoutput.pyc
test.init
__pycache__/
.gitignore
mdbond.py~
2atomsho.dat
2atoms.log
junk
log.lammps
*#*
*~
output.log
hopy.log
holammps.log
check.vmd
mdinput.pyc
mdbond.pyc
mdlj.pyc
ho.log
morse.log
hoinm.dat
morse.eig.dat
